# ===================================================================
# solstice-libs-picker requirements file
# ===================================================================
artellapipe
artellapipe-libs-picker